<div class="main">
    <section class="page-body p-0">
        <div class="row g-0 ratio_asos">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="content-box text-center">
                    <div>
                        <h5>Giriş Yap</h5>
                        <hr />
                        <form asp-controller="LoginAndRegister" asp-action="Index" class="custom-form form-pill">
                            <div class="input-box">
                                <label for="email">Email</label>
                                <input class="form-control" type="email" required="" name="email" id="email">
                            </div>
                            <div class="input-box">
                                <label for="password">Şifre</label>
                                <div class="icon-input">
                                    <input class="form-control" type="password" required="" name="password" id="password">
                                </div>
                            </div>

                            <button type="submit" class="btn-solid rounded-pill line-none theme-color">Giriş Yap <i class="arrow"></i></button>
                        </form>

                        <span class="backto-link font-default content-color text-decoration-none">
                            Bir Hesabınız Yok mu? <a class="text-decoration-underline theme-color" asp-controller="LoginAndRegister" asp-action="Register">Kayıt Ol </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <br />
            <br />
            @if (TempData["Info"] != null)
            {
                <hr />
                <div class="title-box">
                    <span class="title-divider1"><span class="squre"></span><span class="squre"></span></span>
                    <p style="font-size:x-large;">@TempData["Info"]</p>
                </div>
            }
        </div>
    </section>
</div>

