<!DOCTYPE html>
<!-- Html start -->
<html lang="en">
<!-- Head Start -->
<!-- Mirrored from themes.pixelstrap.com/oslo/html/index-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 06 Jul 2023 07:27:10 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="oslo" />
    <meta name="keywords" content="oslo" />
    <meta name="author" content="oslo" />
    <link rel="icon" href="/assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" href="/assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/assets/images/favicon/favicon.png" />
    <meta name="theme-color" content="#0f8fac" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Oslo" />
    <meta name="msapplication-TileImage" content="/assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Oslo | Home</title>

    <!-- Google Jost Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />

    <!-- Google Monsterrat Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&amp;display=swap" rel="stylesheet" />

    <!-- Google Leckerli Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&amp;display=swap" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="/assets/css/vendors/bootstrap.css" />

    <!-- Swiper Slider Css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/swiper-bundle.min.css" />

    <!-- Wow Animation css -->
    <link rel="stylesheet" href="/assets/css/vendors/wow-animate.css" />

    <!-- Style Css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

</head>
<!-- Head End -->
<!-- Body Start -->
<body class="body-dark-demo theme-color5 dark-demo">
    <!-- Loader Start -->
    <div class="loader-wrapper">
        <div class="loader animate">
            <span>U</span>
            <span>N</span>
            <span>I</span>
            <span>Q</span>
            <span>U</span>
            <span>E</span>
        </div>
    </div>
    <!-- Loader End -->
    <!-- Overlay -->
    <a href="javascript:void(0)" class="overlay-general overlay-common"></a>
    <!-- Header Start -->
    <header class="header-common header5">
        <!-- Top Header -->
        <div class="container-lg">
            <div class="nav-wrap">
                <!-- Navigation Start -->
                <nav class="navigation">
                    <div class="nav-section">
                        <div class="header-section">
                            <div class="navbar navbar-expand-xl navbar-light navbar-sticky p-0">
                                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu" aria-controls="primaryMenu">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <a href="/" class="logo-link">
                                    <img class="logo logo-dark" src="/assets/images/logos/logo.png" alt="logo" />
                                    <img class="logo logo-light" src="/assets/images/logos/logo.png" alt="logo" />
                                </a>

                                @if (User.Identity.IsAuthenticated && User.Identity.AuthenticationType == "UniqMemberAuth")
                                {
                                    <div class="offcanvas offcanvas-collapse order-lg-2" id="primaryMenu">
                                        <div class="offcanvas-header navbar-shadow">
                                            <h5 class="mt-1 mb-0">Menu</h5>
                                            <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        </div>
                                        <div class="offcanvas-body">
                                            <!-- Menu-->
                                            <ul class="navbar-nav">

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Profilim</a>
                                                </li>

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Siparişlerim</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                }

                                <div class="offcanvas offcanvas-collapse order-lg-2" id="primaryMenu">
                                    <div class="offcanvas-header navbar-shadow">
                                        <h5 class="mt-1 mb-0">Menu</h5>
                                        <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- Navigation End -->
                <!-- Menu Right Start  -->
                <div class="menu-right">
                    <div class="select-menu">
                        <div class="dropdown select-dropdown" id="translate">
                            <button id="languageSelected"><span>English</span> <i data-feather="chevron-down"></i></button>
                            <ul class="onhover-show-div">
                                <li class="lang">English</li>
                                <li class="lang">Chinese</li>
                                <li class="lang">Arabic</li>
                                <li class="lang">Russian</li>
                            </ul>
                        </div>
                    </div>

                    <!-- Icon Menu Start -->
                    <ul class="icon-menu">

                        <li class="user">
                            <div class="dropdown user-dropdown">
                                <a href="javascript:void(0)"><i data-feather="user"></i></a>
                                <ul class="onhover-show-div">
                                    <li><a asp-controller="LoginAndRegister" asp-action="Index">Giriş Yap</a></li>
                                    <li><a asp-controller="LoginAndRegister" asp-action="Register">Kayıt Ol</a></li>
                                </ul>
                            </div>
                        </li>

                        <!-- Cart Menu Start -->
                        <li>
                            <div class="dropdown shopingbag">
                                <a asp-controller="Cart" asp-action="Index" class="cart-button"><i data-feather="shopping-bag"></i> <span class="notification-label cartCounter"></span></a>
                                <a class="overlay-cart overlay-common"></a>
                            </div>
                        </li>
                        <!-- Cart Menu End -->
                    </ul>
                    <!-- Icon Menu End -->
                </div>
                <!-- Menu Right End  -->
            </div>
        </div>
    </header>
    <!-- Header End -->
    @RenderBody()
    @await Component.InvokeAsync("Footer")

    <!-- Mobile Menu Footer Start -->
    <footer class="mobile-menu-footer d-sm-none dark-footer">
        <ul>
            <li>
                <a href="/" class="active">
                    <i data-feather="home"></i>
                    <span>Ana Sayfa</span>
                </a>
            </li>
            <li>
                <a asp-controller="Cart" asp-action="Index">
                    <i data-feather="shopping-bag"></i>
                    <span>Sepet</span>
                </a>
            </li>
        </ul>
    </footer>
    <!-- Mobile Menu Footer End -->
    <!-- Notification Start -->
    <div class="notification-wrap dark-notification addToCart">
        <div class="notification">
            <div>
                <h5>Sepete Eklendi</h5>
            </div>
        </div>
    </div>
    <!-- Notification End -->
    <!-- Notification Start -->
    <div class="notification-wrap dark-notification addToWishlist">
        <div class="notification">
            <img src="/assets/images/watch/product/jpg/16.jpg" alt="product" />
            <div>
                <h5>Added To Wishlist</h5>
            </div>
        </div>
    </div>
    <!-- Notification End -->
    <!-- Tap To Top Button Start -->
    <div class="tap-to-top-box hide">
        <button class="tap-to-top-button"><i data-feather="chevrons-up"></i></button>
    </div>
    <!-- Tap To Top Button End -->
    <!-- SWAL JS -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Feather Icon -->
    <script src="/assets/js/feather/feather.min.js"></script>

    <!-- Swiper Slider Js -->
    <script src="/assets/js/swiper-slider/swiper-bundle.min.js"></script>
    <script src="/assets/js/swiper-slider/swiper-custom.min.js"></script>

    <!-- Header Sticky js  -->
    <script src="/assets/js/sticky-header.js"></script>

    <!-- Active Class js  -->
    <script src="/assets/js/active-class.js"></script>

    <!-- Wow Js -->
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/wow-custom.js"></script>

    <!-- Script Js -->
    <script src="/assets/js/script.js"></script>

    <!-- Theme Settings Js -->
    <script src="/assets/js/theme-setting.js"></script>


    <script src="/assetsAdmin/dist/libs/jquery/dist/jquery.min.js"></script>

    <!-- SHOPPİNG CART JS* -->
    <script src="/assets/js/shoppingcart.js"></script>


</body>
<!-- Body End -->
<!-- Mirrored from themes.pixelstrap.com/oslo/html/index-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 06 Jul 2023 07:27:52 GMT -->
</html>
<!-- Html End -->
