

<section class="p-0">
    <div class="success-icon">
        <div class="img-wrap">
            <img class="success-img img-fluid" src="https://themes.pixelstrap.com/oslo/assets/svg/order-success.svg" alt="vector">
            <img class="check" src="https://themes.pixelstrap.com/oslo/assets/svg/check.svg" alt="check">
        </div>

        <div class="success-contain">
            <h1>Sipariş Başarılı</h1>
            <h5 class="font-light">Siparişiniz Başarılı Bir Şekilde Oluşturuldu.</h5>
            <a asp-controller="MemberProfile" asp-action="Index">  <h6 class="font-light">Sipariş Durumunu İncele</h6></a>
        </div>
    </div>
</section>