@using Uniq.DAL.Entities;
@model CustomerServiceInstitutional

<section style="background-color:#17161a;" class="review-section about-us-review">
    <div class="container-lg">
        <div class="review-wrap">
            <div class="title-box">
                <h4 style="color:white;" class="unique-heading">@Model.Title</h4>
                <span class="title-divider1"><span class="squre"></span><span class="squre"></span></span>
                <p style="color:white;">@Model.Description</p>
            </div>


        </div>
    </div>
</section>